@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Dark-Blue: hsl(214, 30%, 14%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
--Orange: hsl(25, 97%, 53%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Overpass", sans-serif;
    background-color: var(--Very-Dark-Blue);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#submit {
    width: 100%;
    height: 3rem;
    border-radius: 1.4rem;
    background-color: var(--Orange);
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .9rem;
    cursor: pointer;
    color: black;
}


.card {
    background-color: var(--Dark-Blue);
    color: white;
    padding: 2rem;
    border-radius: 1.5rem;
    width: clamp(350px, 420px, 90%);
    height: fit-content;
}

h1 {
    font-size: 1.7rem;
    margin-top: 2rem;
}

.card p {
    color: var(--Light-Grey);
    font-size: .938rem;
    line-height: 1.5rem;
}

.card *:not(:last-child) {
    margin-bottom: 1rem;
}


.circle {
    background-color: rgba(62, 78, 108, 0.162);
    border-radius: 8rem;
    width: 2rem;
    height: 2rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Light-Grey);
    cursor: pointer;
}

.selected {
    color: black;
    background-color: white;
}

.circle:hover {
    background-color: var(--Orange);
    color: black;
}

.circle.selected:hover {
    background-color: white;
    color: black; 
}

#submit:hover {
    background-color: var(--White);
}

.numbers-wrapper {
    display: flex;
    justify-content: space-between;
}

/* THANKYOU SECTION STARTS */

.thankyou-card {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

#selected-background {
    background-color: rgba(62, 78, 108, 0.162);
    padding: .4rem 1.3rem;
    text-align: center;
    border-radius: 1.2rem;
    color: var(--Orange);
}

/* THANKYOU SECTION ENDS */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}